 .slidermenu a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.5rem;
}
.slidermenu ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.slidermenu li{
    list-style: none;
    padding: 0;
    margin: 0;
    border: 2px solid var(--shadow-border);
    background-color: var(--light-color);
    border-radius: 5px;
    padding: 5px;
    transition: 0.7s ease;
    margin: 5px;
}   
.slidermenu li:hover{
    background-color: var(--secondary-color);
}
/*   Slider Menu Styles  */
.slidermenu {
    position: fixed;
    top: 3.3rem;
    left: 0px; /* Hide the menu off-screen */
    width: 250px;
    height: 100%;
    background-color: var(--primary-color);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: left 0.3s ease-in-out;
}
