/* Importing Google Font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap');

/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

/* Apply Font to the Whole Document */
body {
    font-family: 'Inter', Arial, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    line-height: 1.6;
    width: 100%;
}

/* Headings */
body h1, body h2, body h3, bod h4, body h5, body h6 {
    font-weight: 700;
}

/* Paragraphs */
body p {
    font-size: 1.3rem;
    color: var(--secondary-color);
}
.nav{
    width: 100%;
    border: 1px solid var(--shadow-border);
}
.sliderframe{
    width: auto;
    height: 100%;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 10px var(--shadow-border);

}
#Dashboard{
    font-weight: 700;
    color: var(--primary-color);
}